/* not yet styled for Mobile */
@font-face {
  font-family: Norse;
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
}

.bg-container {
  position: relative;
  width: 33%;
  height: 100%;
  background-image: url(img/background.resized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-container {
  width: 67%;
  height: 100%;
  background-color: #f0f1ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info {
  background-color: #afaa9d;
  padding: 25px 0;
  margin: 60px 0;
  box-shadow: #413627 0px 5px 15px;
  clip-path: inset(0px 0px -15px 0px);
}

.abstract {
  margin: 0 5% 0 5%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #413627;
}

.button-section {
  margin: 0 5% 0 5%;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Consolas, monaco, monospace;
  padding: 20px 5%;
}

label {
  font-family: Consolas, monaco, monospace;
  font-size: 0.8rem;
}

.form-row {
  display: flex;
  padding: 10px 5%;
}
.form-row input {
  width: 100%;
}

.form-control {
  width: 50%;
  margin-right: 5%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #979394;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  height: 30px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #06f;
  box-shadow: #06f 0px 0px 3px;
}

.error {
  outline: none;
  border: 2px solid red;
  box-shadow: red 0px 0px 3px;
}

input[type="submit"] {
  font-size: 1.25rem;
  padding: 15px 50px;
  margin-bottom: 35px;
  background-color: #413627;
  border-radius: 10px;
  color: #f0f1ec;
  cursor: pointer;
}

.button-section button,
.button-section p {
  background: none;
  border: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.25rem;
  color: #413627;
  font-weight: 900;
}

.button-section p {
  color: inherit;
}

.button-section button:hover {
  cursor: pointer;
}

.banner {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 150px;
  opacity: 0.5;
  top: 18vh;
  font-family: Norse, Consolas, monaco, monospace;
  font-size: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.banner > p {
  color: #f0f1ec;
  overflow: hidden;
}

.banner > img {
  height: 120px;
  width: auto;
}

.pass-wrapper {
  position: relative;
}

.pass-wrapper::after {
  position: absolute;
  display: block;
  content: "* Passwords do not match";
  font-size: 0.9rem;
  color: rgb(255, 20, 20);
}
