* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
}

.bg-container {
  width: 33%;
  height: 100%;
  background-image: url(img/background.resized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.form-container {
  width: 67%;
  height: 100%;
  background-color: #f0f1ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info {
  background-color: #afaa9d;
  padding: 20px 0;
}

.abstract {
  padding: 0 10% 50px 10%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.button-section {
  padding: 50px 10% 0 10%;
}

.form-heading {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px 10%;
}

label {
  font-family: Helvetica, Arial, sans-serif;
}

.form-row {
  display: flex;
  padding: 20px 10%;
}
.form-row input {
  width: 100%;
}

.form-control {
  width: 50%;
  margin-right: 5%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #979394;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
